*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    background-color: red;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .header{
        background: rgb(114, 29, 29);
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #fff;
        font-size: 20px;
    }

    .q{
        padding: 5px;
        color: #fff;
    }

    .bAmount{
        color: #fff;
        display: flex;
        flex-direction: row;
        padding: 5px 68px 5px;

        p{
            margin-left: -15px;
            display: inline;
        }
    }

    #billamt {
        font-size: 14px;
        background-color: #f7f7f7;
        width: 200px;
        padding: 10px;
    }
    
    #numOfPeople {
        font-size: 14px;
        background-color: #f7f7f7;
        width: 200px;
        padding: 10px;
        margin-top: 10px;
    }

      #billamt:focus {
        background: #fff;
        border: 2px solid #2980b9;
        outline: none;
    }

    #calculate{
        width: 200px;
        height: 50px;
        font-size: 20px;
        background: #000;
        color: #fff;
        outline: none;
        cursor: pointer;
        
        &:active{
            outline: none;
        }
    }

    #totalTip{
        margin-top: 40px;
        color: #fff;
        font-size: 50px;
    }
}